.w5 {
  width: 5px; }

.h5 {
  height: 5px; }

.mt5 {
  margin-top: 5px; }

.mb5 {
  margin-bottom: 5px; }

.ml5 {
  margin-left: 5px; }

.mr5 {
  margin-right: 5px; }

.w10 {
  width: 10px; }

.h10 {
  height: 10px; }

.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.ml10 {
  margin-left: 10px; }

.mr10 {
  margin-right: 10px; }

.w15 {
  width: 15px; }

.h15 {
  height: 15px; }

.mt15 {
  margin-top: 15px; }

.mb15 {
  margin-bottom: 15px; }

.ml15 {
  margin-left: 15px; }

.mr15 {
  margin-right: 15px; }

.w20 {
  width: 20px; }

.h20 {
  height: 20px; }

.mt20 {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

.ml20 {
  margin-left: 20px; }

.mr20 {
  margin-right: 20px; }

.w25 {
  width: 25px; }

.h25 {
  height: 25px; }

.mt25 {
  margin-top: 25px; }

.mb25 {
  margin-bottom: 25px; }

.ml25 {
  margin-left: 25px; }

.mr25 {
  margin-right: 25px; }

.w30 {
  width: 30px; }

.h30 {
  height: 30px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.ml30 {
  margin-left: 30px; }

.mr30 {
  margin-right: 30px; }

.w35 {
  width: 35px; }

.h35 {
  height: 35px; }

.mt35 {
  margin-top: 35px; }

.mb35 {
  margin-bottom: 35px; }

.ml35 {
  margin-left: 35px; }

.mr35 {
  margin-right: 35px; }

.w40 {
  width: 40px; }

.h40 {
  height: 40px; }

.mt40 {
  margin-top: 40px; }

.mb40 {
  margin-bottom: 40px; }

.ml40 {
  margin-left: 40px; }

.mr40 {
  margin-right: 40px; }

.w45 {
  width: 45px; }

.h45 {
  height: 45px; }

.mt45 {
  margin-top: 45px; }

.mb45 {
  margin-bottom: 45px; }

.ml45 {
  margin-left: 45px; }

.mr45 {
  margin-right: 45px; }

.w50 {
  width: 50px; }

.h50 {
  height: 50px; }

.mt50 {
  margin-top: 50px; }

.mb50 {
  margin-bottom: 50px; }

.ml50 {
  margin-left: 50px; }

.mr50 {
  margin-right: 50px; }

.w55 {
  width: 55px; }

.h55 {
  height: 55px; }

.mt55 {
  margin-top: 55px; }

.mb55 {
  margin-bottom: 55px; }

.ml55 {
  margin-left: 55px; }

.mr55 {
  margin-right: 55px; }

.w60 {
  width: 60px; }

.h60 {
  height: 60px; }

.mt60 {
  margin-top: 60px; }

.mb60 {
  margin-bottom: 60px; }

.ml60 {
  margin-left: 60px; }

.mr60 {
  margin-right: 60px; }

.w65 {
  width: 65px; }

.h65 {
  height: 65px; }

.mt65 {
  margin-top: 65px; }

.mb65 {
  margin-bottom: 65px; }

.ml65 {
  margin-left: 65px; }

.mr65 {
  margin-right: 65px; }

.w70 {
  width: 70px; }

.h70 {
  height: 70px; }

.mt70 {
  margin-top: 70px; }

.mb70 {
  margin-bottom: 70px; }

.ml70 {
  margin-left: 70px; }

.mr70 {
  margin-right: 70px; }

.w75 {
  width: 75px; }

.h75 {
  height: 75px; }

.mt75 {
  margin-top: 75px; }

.mb75 {
  margin-bottom: 75px; }

.ml75 {
  margin-left: 75px; }

.mr75 {
  margin-right: 75px; }

.w80 {
  width: 80px; }

.h80 {
  height: 80px; }

.mt80 {
  margin-top: 80px; }

.mb80 {
  margin-bottom: 80px; }

.ml80 {
  margin-left: 80px; }

.mr80 {
  margin-right: 80px; }

.w85 {
  width: 85px; }

.h85 {
  height: 85px; }

.mt85 {
  margin-top: 85px; }

.mb85 {
  margin-bottom: 85px; }

.ml85 {
  margin-left: 85px; }

.mr85 {
  margin-right: 85px; }

.w90 {
  width: 90px; }

.h90 {
  height: 90px; }

.mt90 {
  margin-top: 90px; }

.mb90 {
  margin-bottom: 90px; }

.ml90 {
  margin-left: 90px; }

.mr90 {
  margin-right: 90px; }

.w95 {
  width: 95px; }

.h95 {
  height: 95px; }

.mt95 {
  margin-top: 95px; }

.mb95 {
  margin-bottom: 95px; }

.ml95 {
  margin-left: 95px; }

.mr95 {
  margin-right: 95px; }

.w100 {
  width: 100px; }

.h100 {
  height: 100px; }

.mt100 {
  margin-top: 100px; }

.mb100 {
  margin-bottom: 100px; }

.ml100 {
  margin-left: 100px; }

.mr100 {
  margin-right: 100px; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  min-height: 100%;
  background: silver;
  font-family: Verdana, Geneva, sans-serif; }

main {
  max-width: 960px;
  position: relative;
  margin: 0 auto; }
  main > header {
    text-align: right;
    padding: 20px 0; }
    main > header > .logo {
      position: absolute; }
      main > header > .logo a {
        text-decoration: none; }
        main > header > .logo a i {
          font-size: 55px;
          color: white; }
          main > header > .logo a i:hover {
            color: antiquewhite; }
    main > header a {
      display: inline-block;
      margin-left: 15px;
      font-size: 16px;
      color: white; }
      main > header a:hover {
        color: antiquewhite; }
  main #blog-list {
    position: relative; }
    main #blog-list > .add-blog {
      text-align: center; }
      main #blog-list > .add-blog a {
        display: inline-block;
        text-decoration: none;
        font-size: 57px;
        font-weight: bold;
        color: lawngreen; }
        main #blog-list > .add-blog a:hover {
          color: #adff00; }
    main #blog-list > ul {
      list-style: none;
      padding: 0;
      margin: 35px 0 0 0; }
      main #blog-list > ul li {
        margin-bottom: 20px;
        border-bottom: 1px solid aliceblue;
        padding: 10px; }
        main #blog-list > ul li .for-title {
          font-size: 22px;
          font-weight: bold;
          color: white;
          text-transform: uppercase;
          display: block; }
          main #blog-list > ul li .for-title:hover {
            color: antiquewhite; }
        main #blog-list > ul li .descr {
          margin: 15px 0; }
        main #blog-list > ul li .btns {
          text-align: right; }
          main #blog-list > ul li .btns a {
            font-size: 12px;
            display: inline-block;
            margin-left: 10px; }
  main #for-form {
    position: relative; }
    main #for-form input[type='text'], main #for-form input[type='password'], main #for-form textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 8px 10px;
      border: 1px solid transparent;
      border-radius: 3px; }
    main #for-form textarea {
      min-height: 150px;
      display: inline-block; }
    main #for-form input[type='submit'] {
      background: white;
      padding: 8px 25px;
      border: 1px solid transparent;
      border-radius: 3px; }

/*# sourceMappingURL=app.css.map */
