@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height:100%;
  min-height:100%;
  width:100%;
  max-width:100%;




}

#belt{
  background:white;
}
#bd{
  margin: 0 auto;
  width:960px;
  background:silver;

}
.nav{
  font-size:20px;
  color:#7000ff;
}
#ad{
  margin-top:0px;
}
#art{
  color:red;
}
#log{

  margin-top: 50px;
}
#bd_log{
  margin: 0 auto;
  max-width: 100%;
}
#blog_in_text{
  font-size:20px;
}
